<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Here are your users</h1>
    {% if users %}
        <ol>
            {% for user in users %}
                <li>
                    User Info
                        <ul>
                            <li>First Name: {{ user.first_name }}</li>
                            <li>Last Name: {{ user.last_name }}</li>
                            <li>Email Address: {{ user.email_address }}</li>
                        </ul>

                </li>
            {% endfor %}
        </ol>
    {% else %}
    <p>No content!</p>
{% endif %}
</body>
</html>